.app {
  min-height: 100vh;
}

.app {
  padding-top: 2em;
  text-align: center;
  z-index: 100;
}

.app-content {
  font-size: large;
}

.app-content canvas {
  width: 512px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.band-selection {
  width: 256px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.download a {
  margin-bottom: 2em;
}

.pt-file-upload {
  max-width: 90%;
  margin-bottom: 1em;
  text-overflow: clip;
  overflow-x: hidden;
}

.pt-file-upload-input {
  white-space: nowrap;
}

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.app-overlay p {
  margin-top: 10%;

  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

.hidden {
  display: none;
}
